{% extends 'base.html.twig' %}
{#
    Como este código está comentado, o título padrão 
    do bloco title será usado:
    {% block title %}Título Específico{% endblock %}
#}

{% block title %}{{ series is defined ? 'Editar' : 'Nova' }} Série{% endblock %}

{% block body %}
    {#{ form(seriesForm) }#}
    
    {{ form_start(seriesForm) }} 
    <div class="alert alert-danger">
        {{ form_errors(seriesForm) }}
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_label(seriesForm.name, 'Nome' ) }}
        </div>
        <div class="col-6">
            {{ form_widget(seriesForm.name, {'attr' : {'class' : 'text-center' } }) }}
        </div>
        <div class="col-12">
            {{ form_errors(seriesForm.name) }}
        </div>
        <div class="col-12">
            {{ form_widget(seriesForm.save, {'attr' : {'class' : 'btn-dark' } }) }}
        </div>
    </div>
    {{ form_end(seriesForm) }} 
    
{% endblock %}
